<div class="container">

  <div class="row mb-5 mt-5">

    <div class="col-md-6">
      <img src="../../../assets/img/photo1.png" style="width: 100%;">
    </div>

    <div class="col-md-6 pl-5">

      <h1 class="display-5 text-white">Personal description/name</h1>
      <p class="mt-5 text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, molestias
        recusandae sint
        eius ab distinctio molestiae. Voluptates, quae asperiores nam quasi veritatis temporibus
        quas non officiis at, odio deserunt labore!</p>
      <a target="_blank" href="https://www.facebook.com/revolutiontatuajes" class="btn btn-outline-info btn-lg mt-2">
        Visit profile
      </a>

    </div>

  </div>

  <div class="row mb-5">

    <div class="col-md-6">
      <img src="../../../assets/img/photo2.png" style="width: 100%;">
    </div>

    <div class="col-md-6 pl-5">

      <h1 class="display-5 text-white">Personal description/name</h1>
      <p class="mt-5 text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, molestias
        recusandae sint
        eius ab distinctio molestiae. Voluptates, quae asperiores nam quasi veritatis temporibus
        quas non officiis at, odio deserunt labore!</p>
      <a target="_blank" href="https://www.facebook.com/lina.penagos.75" class="btn btn-outline-info btn-lg mt-2">
        Visit profile
      </a>

    </div>

  </div>
</div>